In [25]:
import numpy as np
import pandas as pd
import scipy.stats as stat

In [26]:
data=pd.read_csv('Sales_add.csv')

In [27]:
data.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [28]:
data.isna().sum()

Month                             0
Region                            0
Manager                           0
Sales_before_digital_add(in $)    0
Sales_After_digital_add(in $)     0
dtype: int64

In [31]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Month                           22 non-null     object
 1   Region                          22 non-null     object
 2   Manager                         22 non-null     object
 3   Sales_before_digital_add(in $)  22 non-null     int64
 4   Sales_After_digital_add(in $)   22 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1008.0+ bytes

In [29]:
data.describe()

       Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
count                       22.000000                      22.000000
mean                    149239.954545                  231123.727273
std                      14844.042921                   25556.777061
min                     130263.000000                  187305.000000
25%                     138087.750000                  214960.750000
50%                     147444.000000                  229986.500000
75%                     157627.500000                  250909.000000
max                     178939.000000                  276279.000000

# check increase in sales

In [72]:
sale_before=data['Sales_before_digital_add(in $)']

In [73]:
sale_after=data['Sales_After_digital_add(in $)']

In [84]:
ttest,pval=stat.ttest_rel(sale_before,sale_after,alternative='less')

In [85]:
print('pvalue',pval)

pvalue 3.168333502287889e-11

In [86]:
if pval<0.05:
    print('Reject null hypothesis')
else:
    print('Accept null hypothesis')

Reject null hypothesis

So we can that there is an increase in sales after stepping into digital marketing

# Check dependency between region and manager

In [32]:
data1=pd.crosstab(data['Region'],data['Manager'])
data1

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

In [33]:
stats.chi2_contingency(data1)

(3.050566893424036,
 0.5493991051158094,
 4,
 array([[4.09090909, 3.18181818, 2.72727273],
        [2.86363636, 2.22727273, 1.90909091],
        [2.04545455, 1.59090909, 1.36363636]]))

In [91]:
stats,p,dof,expected=chi2_contingency(data1)

In [92]:
alpha=0.05
print('p value is ' + str(p))
if p<=alpha:
    print('Dependent(reject null hypothesis)')
else:
    print('Indepedent(accept null hypothesis)')

p value is 0.5493991051158094
Indepedent(accept null hypothesis)

There is no dependency between Region and Manager.